.groceries {
    width: 100%;
    margin: 3%;
}

.section-groceries {
    display: inline-block;
    vertical-align: middle;
    height: 900px;
}

.sub-groceries {
    background-color: #fff0dc;
    border-radius: 16px;
    margin: 0 0 20px 0;
}

.left-groceries {
    width: 55%;
    margin: 1em 3% 1em 0;
}

.right-groceries {
    width: 35%;
}

.recipe-groceries {
    background-color: #fff0dc;
    height: 800px;
    width: 100%;
    border-radius: 16px;
}

.add-groceries {
    width: 20%;
    margin: 0 40% 0 40%;
}

.chunk-groceries {
    height: 220px;
    margin: 10px 5% 10px 5%;
}

.grid-groceries {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    border: 2px solid black;
    background-color: white;
    border-radius: 16px;
    min-height: 150px;
}

.groceries-card {
    display: inline-block;
    overflow-x: scroll;
    margin: 5px;
    min-height: 100px;
    max-width: 400px;
}

.list-groceries {
    height: 700px;
    padding: 5%;
}

.download-groceries {
    height: 200px;
    padding: 0 5% 5% 5%;
    text-align: center;
}

.download-link {
    color: blue;
}

#gl {
    max-height: 600px;
    padding: 0 10% 0 10%;
    font-size: larger;
    overflow-y: scroll;
}