/* Parent container styling to align video and content side by side */
.container .row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Video container styling */
.video-container {
    flex: 1;
}

.content-container {
    flex: 2;
}

.video img {
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

#recipeTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 40px;
}

.toggle-bar {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #ddd;
}

.toggle-bar a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.toggle-bar a.active {
    color: black;
}


#ingredientsSection,
#instructionsSection {
    border-radius: 8px;
    padding: 15px;
}

#ingredientsSection ul {
    padding-left: 20px;
}

#instructionsSection p {
    margin: 0;
    line-height: 1.6;
}

/* Back button styling */
.back-button {
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 70px;
    background-color: white;

}