.bold {
    font-weight: 700;
}

.btn_rem {
    background-color: #F36F6F;
    border-color: #F36F6F;
    padding: 15px 32px;
    font-size: 1rem;
    border-radius: 10px;
}

.btn_rem:hover {
    background-color: white;
    color: #F36F6F;
    border-color: #F36F6F;
    padding: 15px 32px;
    font-size: 1rem;
    border-radius: 10px;
}

.btn_filters {
    background-color: #FBC02D;
    border-color: #FBC02D;
    font-size: 0.8rem;
    border-radius: 10px;
    width: 49%;
    height: 50px;
    margin-bottom: 1rem;
}

.btn_filters:hover {
    background-color: white;
    color: #FBC02D;
    border-color: #FBC02D;
    font-size: 0.8rem;
    border-radius: 10px;
    width: 49%;
}

.btn_add {
    background-color: #69E17F;
    border-color: #69E17F;
    padding: 15px 32px;
    font-size: 1rem;
    border-radius: 10px;
}

.btn_add:hover {
    background-color: white;
    color: #69E17F;
    border-color: #69E17F;
    padding: 15px 32px;
    font-size: 1rem;
    border-radius: 10px;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

a {
    border-radius: 8px;
    border-width: 3px;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 24px;
    vertical-align: middle;
    width: 150px;
}

input {
    font-size: 24px;
    font-family: Arial, sans-serif;
}